<div id="blog-section">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="blog-section-intro">
					<h2>مطالب ما را بخوانید</h2>
					<p>در این بخش می‌توانید جدیدترین مقالات، نکات فنی و آموزش‌های مربوط به نصب و نگهداری ایزوگام را
						مطالعه کنید.</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4" *ngIf="blogs[0]">
				<a class="blog-item first" (click)="goToBlog(blogs[0].id)" [title]="blogs[0].title" style="cursor:pointer">
					<div class="blog-item-img">
						<img [src]="getImage(blogs[0])" [alt]="blogs[0].title" onerror="this.onerror=null; this.src='https://via.placeholder.com/600x400?text=Blog'" />
					</div>
					<div class="blog-item-content">
						<span class="blog-item-label">{{ blogs[0].category }}</span>
						<span class="blog-item-date">
							<span class="blog-item-date-day">{{ formatDate(blogs[0].create_at).day }}</span>
							<span class="blog-item-date-month">{{ formatDate(blogs[0].create_at).month }}</span>
						</span>
						<h3>{{ blogs[0].title }}</h3>
						<p>{{ blogs[0].description }}</p>
					</div>
				</a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4" *ngIf="blogs[1]">
				<a class="blog-item second" (click)="goToBlog(blogs[1].id)" [title]="blogs[1].title" style="cursor:pointer">
					<div class="blog-item-img">
						<img [src]="getImage(blogs[1])" [alt]="blogs[1].title" onerror="this.onerror=null; this.src='https://via.placeholder.com/600x400?text=Blog'" />
					</div>
					<div class="blog-item-content">
						<span class="blog-item-label">{{ blogs[1].category }}</span>
						<span class="blog-item-date">
							<span class="blog-item-date-day">{{ formatDate(blogs[1].create_at).day }}</span>
							<span class="blog-item-date-month">{{ formatDate(blogs[1].create_at).month }}</span>
						</span>
						<h3>{{ blogs[1].title }}</h3>
						<p>{{ blogs[1].description }}</p>
					</div>
				</a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4" *ngIf="blogs[2]">
				<a class="blog-item third" (click)="goToBlog(blogs[2].id)" [title]="blogs[2].title" style="cursor:pointer">
					<div class="blog-item-img">
						<img [src]="getImage(blogs[2])" [alt]="blogs[2].title" onerror="this.onerror=null; this.src='https://via.placeholder.com/600x400?text=Blog'" />
					</div>
					<div class="blog-item-content">
						<span class="blog-item-label">{{ blogs[2].category }}</span>
						<span class="blog-item-date">
							<span class="blog-item-date-day">{{ formatDate(blogs[2].create_at).day }}</span>
							<span class="blog-item-date-month">{{ formatDate(blogs[2].create_at).month }}</span>
						</span>
						<h3>{{ blogs[2].title }}</h3>
						<p>{{ blogs[2].description }}</p>
					</div>
				</a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4" *ngIf="blogs[3]">
				<a class="blog-item fourth" (click)="goToBlog(blogs[3].id)" [title]="blogs[3].title" style="cursor:pointer">
					<div class="blog-item-img">
						<img [src]="getImage(blogs[3])" [alt]="blogs[3].title" onerror="this.onerror=null; this.src='https://via.placeholder.com/600x400?text=Blog'" />
					</div>
					<div class="blog-item-content">
						<span class="blog-item-label">{{ blogs[3].category }}</span>
						<span class="blog-item-date">
							<span class="blog-item-date-day">{{ formatDate(blogs[3].create_at).day }}</span>
							<span class="blog-item-date-month">{{ formatDate(blogs[3].create_at).month }}</span>
						</span>
						<h3>{{ blogs[3].title }}</h3>
						<p>{{ blogs[3].description }}</p>
					</div>
				</a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="buttonContainer">
					<a class="button" (click)="goToArticles()" title="نمایش بیشتر" style="cursor:pointer">
						<span>نمایش بیشتر</span>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>