<header>
    <app-navbar></app-navbar>

</header>



<div class="content-parallax">
    <section class="parallax" id="img">
        <div id="cloud"></div> >
        <img src="https://ik.imagekit.io/9tnlivadc/bbb.png?updatedAt=1756276948787" id="factory">
        <img src="https://ik.imagekit.io/9tnlivadc/tank1-preview.png?updatedAt=1756215509966" id="tanker">
        <img src="" id="middleFactory">

    </section>

    <section class="sec">
        <div class="sec-text"> parallax scrolling website</div>
        <div class="content-slider-cylinder">
            <div class="content-img-cylinder">
                <img src="https://ik.imagekit.io/9tnlivadc/cylinder%20-2.png?updatedAt=1757666129749"
                    id="cylinder_bitumen">
            </div>
            <div class="slider">
                <app-slider></app-slider>
            </div>
        </div>

    </section>



</div>

<div id="productGridSection" class="scroll-anchor"></div>
<div class="product-grid">
    <div class="content-parallax-product">

        <app-product-grid class="product-grid" id="productGridSection"></app-product-grid>

        <section class="sec">
            <div class="sec-text"> parallax scrolling website</div>
            <div class="content-slider-cylinder">
                <div class="content-img-cylinder">
                    <img src="https://ik.imagekit.io/9tnlivadc/cylinder%20-2.png?updatedAt=1757666129749"
                        id="cylinder_bitumen">
                </div>
                <div class="slider">
                    <app-slider></app-slider>
                </div>
            </div>

        </section>
    </div>


    <div class="blog-grid">

        <div class="content-card content-parallax-blog-section">
            <div class="card ">
                <app-blog-section></app-blog-section>
            </div>
            <div class="card card-a">

                <div class="container-courses" data-aos="fade-left">


                    <div class="courses-content">
                        <div class="courses-box">



                        </div>

                        <div class="courses-box">


                        </div>

                        <div class="courses-box">


                        </div>
                    </div>





                </div>
            </div>
            <div class="card">
                div.co
            </div>




            <div class="card">
                <img src="https://ik.imagekit.io/9tnlivadc/December%20Holiday%20Course.jpg?updatedAt=1718538844306">


            </div>
        </div>


        <footer>
            <div>
                <app-footer></app-footer>
            </div>

        </footer>
    </div>
</div>