
@import '@fortawesome/fontawesome-free/css/all.min.css';


@font-face {
  font-family: 'IRANYekan';
  src: url('/assets/fonts/Qs_Iranyekan.ttf') format('truetype');
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'IRANYekan', Vazir, Tahoma, Arial, sans-serif;
  background-color: #fff;
  color: #222;
  line-height: 1.5;
}


body,
button,
input,
textarea,
select,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span:not(.fa):not(.fas):not(.far):not(.fab),
a,
li,
label,
div:not(.fa):not(.fas):not(.far):not(.fab) {
  font-family: 'IRANYekan', Vazir, Tahoma, Arial, sans-serif;
}

